<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LOGIN.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Contact.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Recipes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Footter.css" asp-append-version="true" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

</head>
<body>
    <header>
        <div asp-area="" asp-controller="Home" asp-action="Index" class="logo">ＦＯＯＤ</div>
       @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">              
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">*@
                    <div class="nav-bar " >
                        <ul>
                        <li> <a class="nav-bar" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>  </li>
                 @*       <li> <a class="nav-bar" asp-area="" asp-controller="Home" asp-action="Recommand">Recommand</a>   </li>*@
                        <li> <a class="nav-bar" asp-area="" asp-controller="Home" asp-action="Recipes">Công thức</a>  </li>
                        <li> <a class="nav-bar" asp-area="" asp-controller="Manager" asp-action="Admin">Admin</a> </li>
                        <li> <a class="nav-bar" asp-area="" asp-controller="RoleBase" asp-action="Index">Vai trò</a> </li>
                        <li> <a  asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a>  </li>
                        <li> <partial name="_LoginPartial" /></li>                      
                        </ul>                     
                    </div>
                @*</div>
            </div>
        </nav>*@
    </header>

   <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Group Of 2 People</h4>
                    <ul>
                        <li> <a href="#"> <ion-icon name="person-outline"></ion-icon> Đoàn Trung Huy</a>
                        <li> <a href="#"> <ion-icon name="person-outline"></ion-icon> Phạm Minh Hiếu</a>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help </h4>
                    <ul>
                        <li> <a href="tel:(028) 5445 7777"><ion-icon name="call-outline"></ion-icon> (028) 5445 7777</a> </li>
                        <li> <a href="#"><ion-icon name="mail-open-outline"></ion-icon> hutech@hutech.edu.vn </a> </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Location Shop</h4>
                    <ul>
                        <li> <a href="https://goo.gl/maps/wic77HuP9VM7ivM76">  <ion-icon name="location-outline"></ion-icon> HO CHI MINH CITY </a> </li>
                        <li> <a href="https://goo.gl/maps/6KqQqeorfh58pBfM6">  <ion-icon name="location-outline"></ion-icon> HUTECH UNIVERSITY </a> </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/"> <ion-icon name="logo-facebook">     </ion-icon> </a>                 
                        <a href="https://git-scm.com/"> <ion-icon name="logo-github">       </ion-icon> </a>
                        <a href="https://www.youtube.com/?gl=VN&hl=vi"> <ion-icon name="logo-youtube">      </ion-icon> </a>
                        <a href="https://mail.google.com/"> <ion-icon name="mail-open-outline"> </ion-icon> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            &copy; 2023 - login - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Contact.js"></script>
    <script src="~/js/swiper.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
