@using Microsoft.AspNetCore.Identity
@using login.Models;
@using login.Logic;

@{
    ViewData["AccountInfor"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Diet> diets = ViewBag.recomanderfood;
    User user = ViewBag.User;
    UserInfor userinfor = ViewBag.Data;

}
<head>

    <link href="/css/Account.css" rel="stylesheet" />

</head>

<body>
    <div class="row rowavt">

        @{

            string age;
            string sex;
            string height;
            string weight;
            if (userinfor is null)
            {
                age = "chua nhap";
                sex = "chua nhap";
                height = "chua nhap";
                weight = "chua nhap";
            }

            else
            {
                //InforUser inforUser;


                age = userinfor.ages.ToString();
                sex = userinfor.sexs.ToString();
                height = userinfor.heights.ToString();
                weight = userinfor.weigh.ToString();


                //if (user.users is null)
                //{
                //    age = sex = height = weight = "";
                //}
                //else
                //{
                //    if (user.users.FirstOrDefault(p => p.username == user.UserName) is null)
                //    {
                //        inforUser = new InforUser(user.UserName);
                //        age = sex = height = weight = "";
                //    }
                //    else
                //    {
                //        inforUser = new InforUser(user.users.FirstOrDefault(p => p.username == user.UserName));
                //        age = inforUser.age.ToString();
                //        sex = inforUser.sex.ToString();
                //        height = inforUser.height.ToString();
                //        weight = inforUser.weight.ToString();

                //    }
                //}
            }

        }
        <div class="col-2">
            <form asp-controller="Home" asp-action="accountInfor" method="post">
                <div class="row">
                    <div class="cardinfor">

                    <div class=" row">
                        <label>User :  </label>
                        <p>
                            @User.Identity.Name
                        </p>
                    </div>

                    <div class=" row">

                        <label>Age :  </label>
                        <input id="textInfor" name="age" type="text" ariaReadOnly value=@age />

                        <div class=" row">
                            <label>Height :  </label>
                            <input id="textInfor" name="height" type="text" ariaReadOnly value=@height />
                        </div>
                        <div class=" row">
                            <label>Sex :  </label>

                            <input id="textInfor" name="sex" ariaReadOnly value=@sex />
                        </div>
                        <div class=" row">
                            <label>Weigh :  </label>

                            <input id="textInfor" name="weight" ariaReadOnly value=@weight />
                        </div>


                        <input type="submit" class="savebtn" value="Save" width="50" />

                    </div>
                </div>
               </div>
             </form>
                <div class="row">
                   
                        <div class="row">
                            <div class="cardimb">
                                <p>
                                    Chỉ số sức khỏe của bạn @ViewBag.BMI
                                </p>
                                <label>Min </label>
                                @{
                                    float valueIBMPercent = (ViewBag.BMI - 10) / 50 * 100;
                                }
                                <progress id="prosBarIbm" value=@valueIBMPercent max="100"></progress>
                                <label>Max </label>
                                <p>
                                    Tính trạng của bạn: 
                                    <div>
                                        <p>
                                        @{
                                            IBM iBM = new IBM(ViewBag.BMI);
                                            string kq = iBM.ketqua();
                                        }
                                        @kq
                                </p>
                                    </div>
                                </p>
                                <p>
                                    @{
                                        BMR bMR = new BMR(int.Parse(sex), int.Parse(height), int.Parse(weight), int.Parse(age),1);
                                        float caloriesneed = bMR.clorisneed();
                                    }
                                    Calo bạn nên ăn trong 1 ngày :  @caloriesneed
                                </p>
                            </div>

                        

                    </div>
                </div>
           
        </div>
       
        <div class="col-10">
            <div class="row">
                <div class="col-lg-1">
                   <div class="r7ngay">
                       <span>Ngày :</span>
                   </div>
                 
                        <div class="gruop-bnt-hover">

                            <div class="btn btn-all">
                                <span> 1</span>
                            </div> 
                            <div class="btn btn-all">
                                <span>2</span>
                            </div>
                            <div class="btn btn-all">
                                <span>3</span>
                            </div>
                            <div class="btn btn-all">
                                <span>4</span>
                            </div>
                            <div class="btn btn-all">
                                <span>5</span>
                            </div> 
                            <div class="btn btn-all">
                                <span>6</span>
                            </div>
                            <div class="btn btn-all">
                                <span>7</span>
                            </div>
                        </div>
                   
                </div>
                <div class="col-lg-11">



                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-main table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Ảnh</th>
                                            <th>Tên món & nội dung</th>
                                            <th>Cale/kg</th>
                                            <th>Kg</th>
                                            <th>Change</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="img-thumbnails">
                                                <a href="#">
                                                    <img class="img-fluid" src="~/Food/images/food11.png" alt />
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">
                                                   Ten mon 
                                                </a>
                                            </td>
                                            <td>
                                                <p>Calo/Kg</p>
                                            </td>
                                            <td class="khoiluong">
                                                <input type="number" size="4" value="1" min="0" readonly />
                                            </td>
                                            <td class="changeFood">
                                                <a href="#">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="img-thumbnails">
                                                <a href="#">
                                                    <img class="img-fluid" src="~/Food/images/food11.png" alt />
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    Tên của món anh
                                                </a>
                                            </td>
                                            <td>
                                                <p>Calo/Kg</p>
                                            </td>
                                            <td class="khoiluong">
                                                <input type="number" size="4" value="1" min="0" readonly />
                                            </td>
                                            <td class="changeFood">
                                                <a href="#">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="img-thumbnails">
                                                <a href="#">
                                                    <img class="img-fluid" src="~/Food/images/food11.png" alt />
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    Tên của món anh
                                                </a>
                                            </td>
                                            <td>
                                                <p>Calo/Kg</p>
                                            </td>
                                            <td class="khoiluong">
                                                <input type="number" size="4" value="1" min="0" readonly />
                                            </td>
                                            <td class="changeFood">
                                                <a href="#">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="text-box-button">
                            <a href="#" class="btn btn-white btn-animate">click me</a>
                         </div>
                    </div>

                </div>
            </div>
         
           
            
        </div>
        
     
       

    </div>
    <script>
        function changeFunc() {
            var text = document.getElementById("textInfor");
            if (text != null) {
                document.getElementById("textInfor").ariaReadOnly = false;
                document.getElementById("textInfor").style.borderColor = "grey";
                document.getElementById("textInfor").style.boxShadow = 4;
                document.getElementById("textInfor").style.border = true;
            }

        }
    </script>
</body>