@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <section class="homee" id="Index">
        <div class="home-slide">
            <div class="wraperr">
                <div class="slide">
                    <div class="content">
                        <span>Our Special dishes</span>
                        <h3> món ngon mỗi ngày</h3>
                        <a href="#" class="btnindex"></a>
                    </div>
                    <div class="imagee">
                        <img src="~/Content/images/bt1.jpg" alt=""/>
                    </div>
                </div>
                <div class="slide">
                    <div class="content">
                        <span>Our Special dishes</span>
                        <h3> hahahahahaha</h3>
                        <a href="#" class="btnindex"></a>
                    </div>
                    <div class="imagee">
                        <img src="~/Content/images/bt2.jpg" alt="" />
                    </div>
                </div>
                <div class="slide">
                    <div class="content">
                        <span>Our Special dishes</span>
                        <h3> heheheheeh</h3>
                        <a href="#" class="btnindex"></a>
                    </div>
                    <div class="imagee">
                        <img src="~/Content/images/bt3.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
   
</body>
