@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="home" id="home">
    <div class="content">
        <form>
        <h3>Món ăn ngôi nhà cảm xúc, hãy để chúng tôi làm cánh cửa</h3>
        <p>Phù hợp với mục đích của bạn, hòa hợp với cơ thể bạn và đồng bộ cảm xúc của bạn </p>
        <a href="/Identity/Account/Login">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Đi thôi
        </a>
        </form>
    </div>
    <div class="image">
        <img src="~/Content/images/home-img.png" />
    </div>
</section>

@* ---------------------------------------Food------------------------------------*@
<section id="tranding">
    <div class="containerr">
        <h3 class="text-center section-subheading">- - Món ăn nổi bật - - </h3>
        <h1 class="text-center section-heading">5 món nổi bật tuần này</h1>
    </div>
    <div class="containerr">
        <div class="swiper tranding-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img back-img">
                        <img src="/Content/images/bt1.jpg" alt="Tranding">
                    </div>
                </div>

                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img back-img">
                        <img src="/Content/images/bt2.jpg" alt="Tranding">
                    </div>
                </div>
     
                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img back-img">
                        <img src="/Content/images/bt3.jpg" alt="Tranding">
                    </div>        
                </div>
   
                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img back-img">
                        <img src="~/Content/images/bt4.jpg" alt="Tranding">
                    </div>             
                </div>
 
                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img back-img">
                        <img src="~/Content/images/bt5.jpg" alt="Tranding">
                    </div>            
                </div>

                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img back-img">
                        <img src="~/Content/images/bt6.jpg" alt="Tranding">
                    </div>    
                </div>

                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img back-img">
                        <img src="~/Content/images/bt7.jpg" alt="Tranding">
                    </div>
                </div>      
            </div>
            <div class="swiper-button-wp">
                <div class="swiper-button-prev swiper-button">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </div>
                <div class="swiper-button-next swiper-button">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>



@* ---------------------------------------CHEF------------------------------------*@
<section class="our-team section">
    <div class="sec-wp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sec-title text-center mb-5">
                        <h3 class="h2-title">- - Gặp các đầu bếo- -</h3>
                        <h1 class="sec-sub-title mb-3">Đội của chúng tôi</h1>                 
                    </div>
                </div>
            </div>
            <div class="row team-slider">
                <div class="swiper-wrapper">
                    <div class="col-lg-4 swiper-slide">
                        <div class="team-box text-center">
                            <div style="background-image: url(Content/images/c1.jpg);"
                                 class="team-img back-img">
                            </div>
                            <h3 class="h3-title">Nilay Hirpara</h3>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="#"> 
                                            <ion-icon name="logo-facebook">    </ion-icon> </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <ion-icon name="logo-instagram">   </ion-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <ion-icon name="logo-twitter">     </ion-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 swiper-slide">
                        <div class="team-box text-center">
                            <div style="background-image: url(Content/images/c2.jpg);"
                                 class="team-img back-img">
                            </div>
                            <h3 class="h3-title">Ravi Kumawat</h3>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <ion-icon name="logo-facebook">    </ion-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <ion-icon name="logo-instagram">   </ion-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <ion-icon name="logo-twitter">     </ion-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 swiper-slide">
                        <div class="team-box text-center">
                            <div style="background-image: url(Content/images/c3.jpg);"
                                 class="team-img back-img">
                            </div>
                            <h3 class="h3-title">Navnit Kumar</h3>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <ion-icon name="logo-facebook">    </ion-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <ion-icon name="logo-instagram">   </ion-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <ion-icon name="logo-twitter">     </ion-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>                
                </div>

            
            </div>
        </div>
    </div>
</section>


<section class="faq-sec section-repeat-img" >
    <div class="sec-wp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sec-title text-center mb-5">                
                        <h2 class="h2-title"><span>Chức năng của trang</span></h2>
                    </div>
                </div>
            </div>

            <div class="faq-row">
                <div class="faq-box">
                    <h4 class="h4-title">Đăng nhập</h4>
                    <p>
                        Đăng nhập thông tin để có thể lưu trữ 1 chế độ ăn được vặt sẵn.
                    </p>
                </div>
                <div class="faq-box">
                    <h4 class="h4-title">Gợi ý</h4>
                    <p>
                       Gợi ý món ăn, chế độ ăn dựa theo các thông số cơ thể của bạn. giúp trang web hiểu bạn hơn và đưa ra các món ăn phù hợp hơn
                    </p>
                </div>
                <div class="faq-box">
                    <h4 class="h4-title">Công thức</h4>
                    <p>
                        Bạn muốn tự tay làm bữa ăn cho mình. 
                        Trang công thức sẽ cho các bạn danh sách món ăn và bạn chỉ cầm 1 cú nhấp chuột là có thể có công thức và hướng dẵn
                    </p>
                </div>
               
                <div class="faq-box">
                    <h4 class="h4-title">Liên lạc</h4>
                    <p>
                       Bnạ có thể phản hồi những ý kiến của mình về trang web.
                       chúng tôi luôn tiếp nhận những ý kiến cá nhân và cố gắng cải thiện chất lượng
                    </p>
                </div>
               
          
            </div>

        </div>
    </div>

</section>




<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/js/swiper.js"></script>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>