@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section id="tranding">
    <div class="containerr">
        <h3 class="text-center section-subheading">- popular Delivery -</h3>
        <h1 class="text-center section-heading">B E S T   S E L L E R</h1>
    </div>
    <div class="containerr">
        <div class="swiper tranding-slider">
            <div class="swiper-wrapper">
                <!-- Slide-start -->
               
                @for(int i =0;i<5;i++){
                <!-- Slide-end -->
                <!-- Slide-start -->
                    <div class="swiper-slide tranding-slide">
                        <div class="tranding-slide-img">
                           
                                    <img src="/Content/images/bt1.jpg" alt="Tranding">
                                    <p> @i </p>
                                
                            </div>
                            
                        </div>
                        <div class="tranding-slide-content">

                            <div class="tranding-slide-content-bottom">
                                <h3 class="food-rating">
                                    <div class="rating">
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                    </div>
                                </h3>
                            </div>
                        </div>
                   
                }
               
             @*   <!-- Slide-end -->
                <!-- Slide-start -->
                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img">
                        <img src="/Content/images/bt2.jpg" alt="Tranding">
                    </div>
                    <div class="tranding-slide-content">
                        
                        <div class="tranding-slide-content-bottom">
                            <h3 class="food-rating">                       
                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Slide-end -->
                <!-- Slide-start -->
                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img">
                        <img src="/Content/images/bt3.jpg" alt="Tranding">
                    </div>
                    <div class="tranding-slide-content">
                        
                        <div class="tranding-slide-content-bottom">
                            <h3 class="food-rating">
                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Slide-end -->
                <!-- Slide-start -->
                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img">
                        <img src="~/Content/images/bt4.jpg" alt="Tranding">
                    </div>
                    <div class="tranding-slide-content">
                       
                        <div class="tranding-slide-content-bottom">
                            <h3 class="food-rating">
          
                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Slide-end -->
                <!-- Slide-start -->
                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img">
                        <img src="~/Content/images/bt5.jpg" alt="Tranding">
                    </div>
                    <div class="tranding-slide-content">
                       
                        <div class="tranding-slide-content-bottom">
                            <h3 class="food-rating">
                            
                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Slide-end -->
                <!-- Slide-start -->
                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img">
                        <img src="~/Content/images/bt6.jpg" alt="Tranding">
                    </div>
                    <div class="tranding-slide-content">
                     
                        <div class="tranding-slide-content-bottom">
                            <h3 class="food-rating">
                          
                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Slide-end -->
                <!-- Slide-start -->
                <div class="swiper-slide tranding-slide">
                    <div class="tranding-slide-img">
                        <img src="~/Content/images/bt7.jpg" alt="Tranding">

                    </div>
                    <div class="tranding-slide-content">
                     
                        <div class="tranding-slide-content-bottom">
                            <h3 class="food-rating">                       
                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>
                            </h3>
                        </div>
                    </div>
                </div>*@
                <!-- Slide-end -->
            </div>

            <div class="tranding-slider-control">
                <div class="swiper-button-prev slider-arrow">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </div>
                <div class="swiper-button-next slider-arrow">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/js/swiper.js"></script>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>