@model login.Models.Food
@using login.Viewmodels;
@{
    ContentFoodViewmodel contentFoodViewmodel = ViewBag.modelType;
}
<head>
    
</head>

<h4>Food</h4>
<hr />

<div class="col-md-4">
    <form asp-action="CreateFood">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Calo" class="control-label"></label>
            <input asp-for="Calo" class="form-control" />
            <span asp-validation-for="Calo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Bref" class="control-label"></label>
            <input asp-for="Bref" class="form-control" />
            <span asp-validation-for="Bref" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TypeFood" class="control-label"></label>
            <select class="form-select" asp-items="contentFoodViewmodel.ListidtypeFood" asp-for="IdType">
            </select>
            <span asp-validation-for="TypeFood" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}