@model login.Models.FoodContent

@{
    ViewData["Title"] = "EditContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditContent</h1>

<h4>FoodContent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="EditContent" enctype="multipart/form-data">


            <div class="form-group">

                <input type="file" name="userfilerecipe" accept=".txt" />

            </div>
            <div class="form-group">
                <label asp-for="ReContent" class="control-label"></label>
                <input asp-for="ReContent" class="form-control" />
                <span asp-validation-for="ReContent" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="file" name="userfileimg" asp-for="Img" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="FoodId" class="control-label"></label>
                <input asp-for="FoodId" class="form-control" readonly></input>
                <span asp-validation-for="FoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}