@model login.Models.Food

@{
    ViewData["Title"] = "EditFood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

</head>
<body>
    <h1>EditFood</h1>

    <h4>Food</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditFood">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Calo" class="control-label"></label>
                    <input asp-for="Calo" class="form-control" />
                    <span asp-validation-for="Calo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bref" class="control-label"></label>
                    <input asp-for="Bref" class="form-control" />
                    <span asp-validation-for="Bref" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Admin">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>