body {
  margin:0px;
  margin:0px;
  height:7000px;
  font-family:Arial, Helvetica, sans-serif;
  
}

.hero-image {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),
    url("../Content/imageforbackground/indenhome.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    opacity:90%;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow:1px 2px 1px 2px;

}
.box-item {
    height: 900px;
    padding: 70px 0px;
    background-color: #f4f4f4;
}

.box-recomandchedo {
    background-color: #333333;
    height:700px;
    padding:10px 0px;
    opacity:95%;
    margin-top:100px;
}
.hero-text {
    color: aliceblue;
    text-align: left;
    line-height: 9px;
    margin-left: -1000px;
    margin-top: 140px;
    position: relative;
}
.card {
    margin-top: 80px;
    border: none;
    margin-left: 40px;
    background: none;
    height: auto;
   
    width: 700px;
    align-content: center;
    position: center;
}
.card .intro h1{
    padding: 20px;
}

.imgDe1{
    margin-top : 50px;
}
.card .intro h1{
    color:orange;
    font-family:Bahnschrift;
}
.card .intro p {
    margin-left: 20px;
    line-height: 44px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: grey
}
.hero-text p{
    font-size:18px;
    color:whitesmoke;
    line-height:13px;
   
}

.card:hover {
    cursor: pointer;
}

.card:hover {
    box-shadow: 2px 3px 20px 1px grey;
    border-radius:20px 20px 20px 20px;
   border:none;
}

.hero-image h1{
    color:white;
    padding-bottom:-10px;
    font-size:60px;
}
.contetnHero{
    margin-top:20px;
}
.contetnHero p{
  font-family:Arial, Helvetica, sans-serif;
  font-size:30px;
  line-height:30px;
  font-weight:bold;
}
.body-fixed {
    width: 100%;
    height: 100%;
    top: auto;
    left: auto;
}
.imgHomeRe{
    margin-top:200px;
}
.imgHRE {
    position: absolute;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 3px 20px 1px grey;
}

.container .h1-recommanderchedo {
    text-align: center;
    margin-top: 120px;
    color: #FFD700;
    font-family:Bahnschrift


}
.filter-button-group {
    display: inline-block;
    margin-left:200px;
    padding-bottom:20px;
}
    .filter-button-group button.active {
        background: #000000;
    }

    .filter-button-group button {
    }

    .filter-button-group button {
        background: #b0b435;
        color: #ffffff;
        border: none;
        cursor: pointer;
        padding: 5px 30px;
        font-size: 18px;

    }

  

.box-recomandchedo .container .intros{
    align-content:center;
    padding:10px 610px;
    
}
.box-recomandchedo .container .intros p {
    width: 700px;
    line-height:45px;
    color: orange;
    text-align: center;
    font-size:28px; 
    opacity:80%;
}
.imgHre2 {
    position: inherit;
    width: 600px;
    height: auto;
    margin-top: 200px;
    margin-left: 100px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 3px 20px 1px grey;
    transition: 0.5s;
}

.imgHre2:hover{
    cursor:pointer;
}
    .imgHre2:hover {
        position: absolute;
        margin-left: 200px;
    }
html {
    overflow-y: scroll;
}
.footer[b-ql2nrnm8l4] {
    margin-top: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
.footer[b-st8aq16s68] {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
.BarGradientRecipes {

    background-image: linear-gradient(to right,red,white);
    height: 1000px;
    margin-top: 50px;
    margin-left: 440px;
    display: flex;
}

.container{
    height:8000px;
    width:15000px;
}
.lastest-food {
    padding: 70px 0px;
    margin-top:70px;
    background: #f5f5f5;
}

.title-all {
    margin-bottom: 30px;
    
}

.text-center {
    text-align: center !important;
}
    .text-center h1 {
        font-family: Bahnschrift;
    }
    .text-center p{
        font-family:Bahnschrift;
        opacity:80%;
        font-size:20px;
    }

.blog-box {
    -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    background: #ffffff;
    margin-bottom: 30px;
    max-width:70%;
    margin-left:100px;
}
.blog-box p{
    font-family:Bahnschrift;
}
.blog-box h3{
    font-family:Bahnschrift;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}
.blog-content {
    position: relative;
}
.title-blog {
    padding: 40px 30px 40px 30px;
}
.option-blog {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
}
    .option-blog li {
        display: inline-block;
        
    }
    .option-blog li a{
    background: #000000;
    display: inline-block;
    font-size: 30px;
    padding-top:10px;
    color: #ffffff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 34px;
    
    transition:1s;
   
    }
.option-blog li a:hover{
    cursor:pointer;
}
.option-blog li a:hover{
    color:orange;
}
@media (min-width: 1500px) .container {
    max-width:394px;
    max-height: auto;
}