
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
}

    .wrapper.active {
        height: 500px;
    }

        .wrapper.active .form-login {
            transition: none;
            transform: translateX(-400px);
        }

    .wrapper .form-login {
        transition: transform .18s ease;
        transform: translateX(0);
    }

    .wrapper .form-login {
        width: 100%;
        padding: 30px;
    }

    .wrapper.active .form-register {
        transition: transform .18s ease;
        transform: translateX(0);
    }

    .wrapper .form-register {
        position: absolute;
        transition: none;
        transform: translateX(400px);
    }

    .wrapper .icon-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background: rgb(0 0 0);
        font-size: 2em;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        z-index: 1;
    }

.form-login h2 {
    font-size: 2em;
    color: rgb(0 0 0);
    text-align: center;
    font-weight: 600;
}

.form-register h2 {
    font-size: 2em;
    color: rgb(0 0 0);
    text-align: center;
    font-weight: 600;
}

.input-box {
    position: relative;
    width: 102%;
    height: 59px;
    border-bottom: 2px solid rgb(0 0 0);
    margin: 20px 0;
}

    .input-box label {
        position: absolute;
        top: 1%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        color: rgb(0 0 0);
        font-weight: 500;
        pointer-events: none;
        transition: .8s;
    }

    .input-box input:focus ~ label,
    .input-box input:valid ~ label {
        top: -10px;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color: rgb(0 0 0);
        font-weight: 600;
        padding: 0 35px 0 5px;
        margin-top: 10px
    }

    .input-box ion-icon {
        position: absolute;
        right: 8px;
        font-size: 1.2em;
        color: rgb(0 0 0);
        line-height: 57px;
    }

    .input-box div p {
        color: rgba(255, 255, 255, .5);
    }

.checkbox {
    margin-bottom: 1rem;
}

.btn {
    width: 100%;
    height: 45px;
    background: rgb(255, 255, 255);
    border-color: rgb(0 0 0);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgba(0 0 0);
    font-weight: 700;
    margin-bottom: 20px;
}


.login-register {
    font-size: .9em;
    color: rgb(0 0 0);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

    .login-register p a {
        color: rgb(0 0 0);
        text-decoration: none;
        font-weight: 600;
    }
